<DOCTYPE html>
<html>
<head>
    <title>Galcon</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>
<body>
% my ($h) = @_;
    <h2>You are player <%= $h<player_num> %>, <%= $h<player_name> %></h2>
</body>
</html>
